AWS_ACCESS_KEY_ID={{ step_ca_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ step_ca_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ step_ca_backup_aws_region }}
MOSQUITTO_PASSWORD={{ step_ca_backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ step_ca_backup_mosquitto_username }}
MOSQUITTO_HOST={{ step_ca_backup_mosquitto_host }}
SERVICE_NAME={{ step_ca_service_name }}
BACKUP_FROM={{ step_ca_backup_from }}
BUCKET_NAME={{ step_ca_backup_bucket_name }}
